.banner-home{
    background: #fff;
    padding: 20px 0px;
    max-width: 1600px;
    display: flex;
    width: 88%;
    border-bottom: 1px solid #e5e7eb;
}

.banner-home-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.register{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* width: 70%; */
}

.title-home{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    width: 80%;
}

.title-home-mobile{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    /* text-align: center; */
}

.leading-relaxed{
    font-size: 1rem;
    line-height: 1.625;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.leading-relaxed-mobile{
    font-size: 1rem;
    line-height: 1.625;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.register-btn{
    width: 100px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(253, 190, 28, 1);
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    transition: 1.2s;
}

.register-btn:hover{
    color: bisque;
}