.container-benefit{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container-benefit-mobile{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.title-benefit{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
}
.title-benefit-mobile{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    padding: 0 1rem;
}
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.box-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

.box-item{
    box-sizing: border-box;
    width: 380px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 20px;
}
.box-item-mobile{
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 20px;
    margin: 1rem 0px;
}
.title-box{
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 500;
}

.separator-box{
    width: 40px;
    background: #fff;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
}

.container-price-list{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container-price-list-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.title-price-list{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}
.title-price-list-mobile{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}
.box-price-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
.box-price-list-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.box-price-list-item{
    width: 32%;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.box-price-list-item-mobile{
    width: 95%;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.box-price-list-item .title{
    font-size: 1.8rem;
    font-weight: 500;
}
.box-price-list-item .content{
    font-size: 1rem;
    margin: 0.5rem 0px;
}

.box-price-list-item .price{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 8px;
}
.box-price-list-item .sale{
    font-size: 1rem;
    text-decoration: line-through;
    color: #9ca3af;
}
.box-price-list-item .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-price-list-item .sub{
    color: #fdbe1c;
    cursor: pointer;
}



.box-price-list-item-mobile .title{
    font-size: 1.8rem;
    font-weight: 500;
}
.box-price-list-item-mobile .content{
    font-size: 1rem;
    margin: 0.5rem 0px;
}

.box-price-list-item-mobile .price{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 8px;
}
.box-price-list-item-mobile .sale{
    font-size: 1rem;
    text-decoration: line-through;
    color: #9ca3af;
}
.box-price-list-item-mobile .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-price-list-item-mobile .sub{
    color: #fdbe1c;
    cursor: pointer;
}

.container-promotion{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-promotion-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:1rem;
    padding-bottom:1rem;
}

.promotion-element{
    width: 88%;
    display: flex;
    border-top : 1px solid #e5e7eb;
    padding: 2rem 0;
}

.promotion-element-mobile{
    width: 95%;
    display: flex;
    flex-direction: column;
    border-top : 1px solid #e5e7eb;
    padding: 1rem 0;
}

.title-promotion{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.title-promotion-mobile{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.content-promotion{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.w-48{
    width: 48%;
}

.btn{
    text-align: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  background: #FDBE1C;
  border-radius: 5px;
  border: 0px;
  height: 2.5rem;
  cursor: pointer;
}

.error-text{
    color: #d32f2f;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}


.ro-custom{
    display: flex !important;
    align-items: center !important;
}

.ro-custom:hover{
    background-color: #92b1e6 !important;
}

/* display: 'flex', alignItems: 'center', borderTop: idx ? 'none' : '1px solid #424340', borderBottom: '1px solid #424340', paddingRight: '10px',
                    position: 'relative',
                    left: 1000,
                    animation: "myfirst 2s forwards",
                    animationDelay: `${idx * 0.5}s`, */
.item-display {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #424340;
    padding-right: 10px;
    position: relative;
    left: 1000;
    animation: 'myfirst 2s forwards';
}