.concept-by-home{
    /* background: #f8f8f8; */
    padding-top: 2rem;
    display: flex;
    max-width: 1600px;
    width: 88%;
    border-bottom: 1px solid #e5e7eb;

}

.concept-by-home-mobile{
    /* background: #f8f8f8; */
    padding: 1rem;
    max-width: 1600px;
    border-bottom: 1px solid #e5e7eb;

}

.concept-img{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.concept-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
}

.concept-title-mobile{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.concept-content{
    font-size: 1rem;
    line-height: 1.625;
    padding-top: 1rem;
    padding-bottom: 1rem;
}