.wrap-footer{
    background: #000000;
    /* position: fixed;
    left: 0;
   bottom: 0;
   width: 100%; */
}

.footer{
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.footer-block{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer-block-item{
    cursor: pointer;
}

.footer-block-item .p:hover{
    color:#fdbe1c!important;
}