.header{
    background : #000000;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: #fff;
}

.header-mobile{
    background : #000000;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item{
    display: flex;
    color: #ffffff;
}

.header-item .item{
    padding: 0px 10px;
    cursor: pointer;
}

.header-item .item:hover{
    color: #fdbe1c!important;
}

.separator{
    width: 3px;
    background-color: aliceblue;
    margin-right: 5px;
    border-radius: 4px;
}

.show-dropdown-content{
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #fff;
    top: 56px;
    opacity: 0.95;
}

.item-content{
    padding: 15px 15px 15px 0;
    margin-left: 15px;
    text-transform: uppercase;
    outline: none;
    border-bottom: 1px solid #eeeeee;
    text-shadow: 0 0 1px rgb(255 255 255 / 10%);
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    border-top: 1px solid #e5e7eb;

}

.item-content a{
    text-decoration: none;
    color: #000000;
}

.title-helper{
    font-size: 20px;
    color: #252a2b;
    line-height: 1.85;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin-left: 15px;
}

.contract{
    display: flex;
    align-items: center;
    margin: 15px;
}