.container-register{
    width: 30%;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-register-mobile{
    /* width: 10%; */
    margin: auto;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-register{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.title-register-mobile{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.btn-register{
    margin-top: 0.5rem;
    background: #fdbe1c;
    width: 100%;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
}

.btn-sign-in{
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    border: 2px solid #fdbe1c;
    border-radius: 4px;
    background-color: #fff;
    color: #fdbe1c;
    cursor: pointer;
}

.hr-login-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.footer-box{
    text-align: center;
    font-size: 14px;
    margin-top: 2rem;
}