.wrap-user-manual{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.wrap-user-manual-mobile{
    max-width: 100%;
    padding-top: 2rem;
}

.title-user-manual{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.title-user-manual-mobile{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.container-item {
    display: flex;
    justify-content: space-between;
}

.container-item-mobile{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .div{
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}